.debug-lists {
  display: flex;
  align-items: flex-start;
}

.word-cloud-text {
  cursor: pointer;
}

.word-cloud-tooltip {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Helvetica';
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 7em;
  z-index: 2;
}
